In [15]:
import pandas as pd
import numpy as np

def add_noise_to_data() -> pd.DataFrame:
    raw_data = pd.read_csv('csv_data/DailyDelhiClimate.csv')

    #wrong data types
    wrong_data_types = pd.DataFrame(['a', 'b', 'c', 'd', 'e'], index=raw_data.columns).T

    #wrong data values
    wrong_data_values = pd.DataFrame([9999, -999, -1000, 1000, -550], index=raw_data.columns).T

    #duplicates
    duplicates = raw_data.iloc[:10, :]

    #missing values
    missing_values = pd.DataFrame([np.nan, np.nan, np.nan, np.nan, np.nan], index=raw_data.columns).T

    noisy_data = pd.concat([raw_data, wrong_data_types, wrong_data_values, duplicates, missing_values])
    noisy_data.reset_index(inplace=True, drop=True)
    noisy_data = noisy_data.reindex(np.random.permutation(noisy_data.index))
    noisy_data.reset_index(inplace=True, drop=True)
    noisy_data.to_pickle('csv_data/RawDailyDelhiClimate.pkl')

add_noise_to_data()

# Pandas: Data Preparation
In this section we're going to cover different data pre processing techniques to clean the data for data science purposes.

In [16]:
#Data Ingestion

raw_data = pd.read_pickle('csv_data/RawDailyDelhiClimate.pkl')
raw_data

           date   meantemp   humidity wind_speed meanpressure
0    2017-01-28  14.863636  82.772727   9.690909  1019.636364
1    2017-02-01      15.25     78.625        5.1       1017.5
2    2017-01-05  18.388889  74.944444        3.3  1014.333333
3    2017-01-03  17.111111  81.888889   4.016667  1018.333333
4    2017-03-18  24.692308  46.307692   7.123077  1009.846154
..          ...        ...        ...        ...          ...
122  2017-02-11     15.625       64.0       3.95     1016.625
123  2017-01-10  12.111111  71.944444   9.361111  1016.888889
124  2017-03-07     22.625       41.5      6.025     1007.375
125  2017-04-13  29.666667  29.111111   4.944444  1006.777778
126  2017-02-14     16.875       65.5     6.9625     1021.375

[127 rows x 5 columns]

Exercise 1:
1. What kind of data inconsistencies can you spot?
2. Delete missing values from the data set
3. Delete duplicate values from the data set

In [18]:
#Write your solutions for exercise 1 here.

#1. There are missing values, duplicates, wrong data types, and wrong data values

#2
clean_data = raw_data.dropna().copy(deep=True)

#3.
clean_data.drop_duplicates(inplace=True)
clean_data

           date   meantemp   humidity wind_speed meanpressure
0    2017-01-28  14.863636  82.772727   9.690909  1019.636364
1    2017-02-01      15.25     78.625        5.1       1017.5
2    2017-01-05  18.388889  74.944444        3.3  1014.333333
3    2017-01-03  17.111111  81.888889   4.016667  1018.333333
4    2017-03-18  24.692308  46.307692   7.123077  1009.846154
..          ...        ...        ...        ...          ...
121  2017-02-07     15.125      63.75     7.6375     1016.125
122  2017-02-11     15.625       64.0       3.95     1016.625
124  2017-03-07     22.625       41.5      6.025     1007.375
125  2017-04-13  29.666667  29.111111   4.944444  1006.777778
126  2017-02-14     16.875       65.5     6.9625     1021.375

[116 rows x 5 columns]

In [3]:
raw_data = pd.read_csv('csv_data/DailyDelhiClimate.csv')
raw_data

           date   meantemp   humidity  wind_speed  meanpressure
0    2017-01-01  15.913043  85.869565    2.743478     59.000000
1    2017-01-02  18.500000  77.222222    2.894444   1018.277778
2    2017-01-03  17.111111  81.888889    4.016667   1018.333333
3    2017-01-04  18.700000  70.050000    4.545000   1015.700000
4    2017-01-05  18.388889  74.944444    3.300000   1014.333333
..          ...        ...        ...         ...           ...
109  2017-04-20  34.500000  27.500000    5.562500    998.625000
110  2017-04-21  34.250000  39.375000    6.962500    999.875000
111  2017-04-22  32.900000  40.900000    8.890000   1001.600000
112  2017-04-23  32.875000  27.500000    9.962500   1002.125000
113  2017-04-24  32.000000  27.142857   12.157143   1004.142857

[114 rows x 5 columns]

# Exercise 1.