In [47]:
import pandas as pd
import numpy as np

def add_noise_to_data() -> pd.DataFrame:
    raw_data = pd.read_csv('csv_data/DailyDelhiClimate.csv')

    #wrong data types
    wrong_data_types = pd.DataFrame(['a', 'b', 'c', 'd', 'e'], index=raw_data.columns).T

    #wrong data values
    wrong_data_values = pd.DataFrame([9999, -999, -1000, 1000, -550], index=raw_data.columns).T

    #duplicates
    duplicates = raw_data.iloc[:10, :]

    #missing values
    missing_values = pd.DataFrame([np.nan, np.nan, np.nan, np.nan, np.nan], index=raw_data.columns).T

    noisy_data = pd.concat([raw_data, wrong_data_types, wrong_data_values, duplicates, missing_values])
    noisy_data.reset_index(inplace=True, drop=True)
    noisy_data = noisy_data.reindex(np.random.permutation(noisy_data.index))
    noisy_data.reset_index(inplace=True, drop=True)
    noisy_data.to_pickle('csv_data/RawDailyDelhiClimate.pkl')

add_noise_to_data()

# Pandas: Data Preparation
In this section we're going to cover different data pre processing techniques to clean the data for data science purposes.

In [48]:
#Data Ingestion

raw_data = pd.read_pickle('csv_data/RawDailyDelhiClimate.pkl')
raw_data

           date   meantemp   humidity wind_speed meanpressure
0    2017-01-06  19.318182  79.318182   8.681818  1011.772727
1    2017-04-17  32.555556  38.444444   5.366667  1004.444444
2    2017-01-04       18.7      70.05      4.545       1015.7
3    2017-02-18     21.125      70.75       6.25      1016.25
4    2017-03-25       26.5     39.375     10.425     1009.875
..          ...        ...        ...        ...          ...
122  2017-01-04       18.7      70.05      4.545       1015.7
123  2017-04-15  31.222222  30.444444   5.966667  1002.444444
124  2017-01-30  16.444444  77.555556   4.322222  1015.833333
125  2017-01-27       16.5  77.041667  14.358333     1018.125
126  2017-04-24       32.0  27.142857  12.157143  1004.142857

[127 rows x 5 columns]

Exercise 1: Basic cleaning
1. What kind of data inconsistencies can you spot?
2. Delete missing values from the data set
3. Delete duplicate values from the data set

In [49]:
#Write your solutions for exercise 1 here.

#1. There are missing values, duplicates, wrong data types, and wrong data values

#2
clean_data = raw_data.dropna().copy(deep=True)

#3.
clean_data.drop_duplicates(inplace=True)
clean_data

           date   meantemp   humidity wind_speed meanpressure
0    2017-01-06  19.318182  79.318182   8.681818  1011.772727
1    2017-04-17  32.555556  38.444444   5.366667  1004.444444
2    2017-01-04       18.7      70.05      4.545       1015.7
3    2017-02-18     21.125      70.75       6.25      1016.25
4    2017-03-25       26.5     39.375     10.425     1009.875
..          ...        ...        ...        ...          ...
121        9999       -999      -1000       1000         -550
123  2017-04-15  31.222222  30.444444   5.966667  1002.444444
124  2017-01-30  16.444444  77.555556   4.322222  1015.833333
125  2017-01-27       16.5  77.041667  14.358333     1018.125
126  2017-04-24       32.0  27.142857  12.157143  1004.142857

[116 rows x 5 columns]

Exercise 2: Intermediate cleaning

1. Write a function that includes the cleaning steps from the previous exercise, that takes a data frame as input and returns a cleaner data frame
2. Solve the other data inconsistencies in the data set and include this solution in the function you just wrote
3. Write the data as a csv named 'Clean{YOUR NAME}DailyDelhiClimate'

In [50]:
#Write your solutions for exercise 2 here.

#1. 
def clean_data_func_1(raw_df: pd.DataFrame) -> pd.DataFrame:
    cleaned_data = raw_df.dropna()#.copy(deep=True)
    cleaned_data.drop_duplicates(inplace=True)
    return cleaned_data

#2. 
def clean_data_func_2(raw_df: pd.DataFrame) -> pd.DataFrame:
    cleaned_data = raw_df.dropna()#.copy(deep=True)
    cleaned_data.drop_duplicates(inplace=True)

    #clean wrong data types
    wrong_data_types = cleaned_data['meantemp'].apply(lambda x: type(x) != str)         #note that if you want to do it thoroughly you have to do this for every column. But the noise data is created as entire rows, so this works
    cleaned_data = cleaned_data.loc[wrong_data_types]

    #clean wrong data values
    wrong_data_values = cleaned_data['meantemp'] > 0
    cleaned_data = cleaned_data.loc[wrong_data_values]

    return cleaned_data

#3.
clean_data = clean_data_func_2(raw_df=raw_data)
clean_data.to_csv('CleanSjenkieDailyDelhiClimate.csv')
clean_data

/var/folders/lz/dmb8qtfj59n4bqzf7rb3v6g40000gn/T/ipykernel_67493/1357888568.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data.drop_duplicates(inplace=True)

           date   meantemp   humidity wind_speed meanpressure
0    2017-01-06  19.318182  79.318182   8.681818  1011.772727
1    2017-04-17  32.555556  38.444444   5.366667  1004.444444
2    2017-01-04       18.7      70.05      4.545       1015.7
3    2017-02-18     21.125      70.75       6.25      1016.25
4    2017-03-25       26.5     39.375     10.425     1009.875
..          ...        ...        ...        ...          ...
120  2017-02-19  22.363636  66.090909   6.054545       1013.0
123  2017-04-15  31.222222  30.444444   5.966667  1002.444444
124  2017-01-30  16.444444  77.555556   4.322222  1015.833333
125  2017-01-27       16.5  77.041667  14.358333     1018.125
126  2017-04-24       32.0  27.142857  12.157143  1004.142857

[114 rows x 5 columns]

Exercise 3: Advanced Data quality check
We've prepared a data set that is already clean. Now we use this prepped data set a double check

1. Read BOTH the prepped data csv file and the cleaned data set csv file that you just created. Do you notice anything different? If so, do you understand where it comes from?
2. Create a solution that solves the difference in the first question of this exercise.
3. Create a function that checks if the two data sets are the same or not.
4. Save the cleaned data set and incorporating the answer of question 3 of this exercise.

In [62]:
#Write your solutions for exercise 3 here.

#1. When writing dataframes as a csv file and re-reading the same csv file an extra column is introduced called Unnamed:0, this column indicates the column
prepped_data = pd.read_csv('csv_data/DailyDelhiClimate.csv')
cleaned_data = pd.read_csv('CleanSjenkieDailyDelhiClimate.csv')

# print(prepped_data)
# print(cleaned_data)

# #2.
def solve_difference(data: pd.DataFrame) -> bool:
    data = data.sort_values('date', ignore_index=True).copy(deep=True)
    data = data.drop('Unnamed: 0', axis=1)
    return data

print(solve_difference(data=cleaned_data))       # This should return an error

#3. There are several ways to solve this. I suggest two options. The first one is cleaning the re-read data by deleting the extra column. The second one is writing the data as a pkl file instead of csv (This one I prefer)

def check_same(made_df: pd.DataFrame, test_df: pd.DataFrame) -> float:
    made_df = solve_difference(data=made_df)
    made_df.sort_values('date', inplace=True, ignore_index=True)
    same_df = made_df == test_df
    
    n_same_values = same_df.sum().sum()
    n_values = test_df.shape[0] * test_df.shape[1]
    
    # print(made_df.loc[(made_df != test_df).values] == test_df.loc[(made_df != test_df).values])
    # print(test_df.loc[(made_df != test_df).values]['wind_speed'].iloc[0])
    # print(made_df.loc[(made_df != test_df).values]['wind_speed'].iloc[0])
    # print(n_values)
    # print(n_same_values)

    return n_same_values/n_values

#Note that the value below is not 100%, because of a rounding error uncomment the print statements in the function above to see what I mean
print(f'Data is {check_same(made_df=cleaned_data, test_df=prepped_data) * 100}% similar')

           date   meantemp   humidity  wind_speed  meanpressure
0    2017-01-01  15.913043  85.869565    2.743478     59.000000
1    2017-01-02  18.500000  77.222222    2.894444   1018.277778
2    2017-01-03  17.111111  81.888889    4.016667   1018.333333
3    2017-01-04  18.700000  70.050000    4.545000   1015.700000
4    2017-01-05  18.388889  74.944444    3.300000   1014.333333
..          ...        ...        ...         ...           ...
109  2017-04-20  34.500000  27.500000    5.562500    998.625000
110  2017-04-21  34.250000  39.375000    6.962500    999.875000
111  2017-04-22  32.900000  40.900000    8.890000   1001.600000
112  2017-04-23  32.875000  27.500000    9.962500   1002.125000
113  2017-04-24  32.000000  27.142857   12.157143   1004.142857

[114 rows x 5 columns]
    date  meantemp  humidity  wind_speed  meanpressure
99  True      True      True       False          True
19.314285714285717
19.31428571428572
570
569
Data is 99.82456140350877% similar